<div class="row content">
          <div class="col-sm-8 music">
            <app-paginate (albumsPaginated)="onAlbumsPaginatedParent($event)"></app-paginate>
              <div class="col-sm-12 video" >
                    <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
              </div>
              <div class="col-sm-12 video" >
                    <app-search (onSearchByTitle)="onSearchByTitleParent($event)" (refreshResult)="refreshResultParent($event)"></app-search>
              </div>

              <div>
                <button (click)="hideAndShow()" class="col-md-12 center-block">Cacher les infos</button>
              </div>
              <div>
                <button (click)="sortByDuration()" class="col-md-12 center-block">Trier par durée</button>
              </div>
              <div>
                    <button (click)="count()" class="col-md-12 center-block">Afficher le nombre d'albums dispo <span *ngIf="countAlbum">{{countAlbum}}</span></button>
              </div>
                  
                  <ul *ngIf="albums" class="list-inline">
                    <li class="list-inline-item" *ngFor="let album of albums">

                            <div class="card" [@myAnimation]="isActive ? 'open' : 'close'">
                                    <div class="card-header">
                                            {{ album.ref }}
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a
                                                routerLink="/album/{{album.id}}"
                                            >
                                                    {{ album.title }}
                                            </a>
                                        </h5>
                                        <p class="card-text">{{ album.description }}</p>
                                        <a class="btn btn-outline-primary" href="#" role="button">fr</a>
                                        <a class="btn btn-outline-dark" href="#" role="button">guitar</a>
                      
                                        <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
                                        <small>7</small>
                                        <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
                                        <small *ngIf="album.duration">{{ album.duration }}</small>
                                    </div>
                                    <button (click)="onSelect(album)">Details</button>
                                    
                                    <h1 *ngIf="albumPlay && albumPlay.id === album.id">ON AIR</h1>
                            </div><!-- .card -->
                    </li>
                  </ul>
              <app-paginate (albumsPaginated)="onAlbumsPaginatedParent($event)"></app-paginate>

          </div><!-- .music -->
    
      </div> 